<% if @calculator.status == "OK" %>
  <p>origin: <%= @calculator.start_address %> </p>
  <p>destination: <%= @calculator.end_address %> </p>
  <p>distance: <%= @calculator.distance%></p>
  <p>time: <%= @calculator.duration %> </p>
<% else %>
  <p>status: <%= @calculator.status %> </p>
<% end %>
