<% if @calculator.status == "OK" %>
  <div class="row" id="result-container">
    <div class="small-offset-1 small-10 columns">

      <div class="row">
        <div class="medium-5 columns">
          <h2><%= @calculator.start_address %></h2>
        </div>
        <div class=" medium-2 columns">
          <h1>&#8646;</h1>
        </div>
        <div class="medium-5 columns">
          <h2><%= @calculator.end_address %></h2>
        </div>
      </div>

      <div class="row">
        <div class="medium-6 columns">
          <div class="card">
            <h3>Distance:</h3>
            <p><%= @calculator.distance %></p>
          </div>
        </div>
        <div class="medium-6 columns">
          <div class="card">
            <h3>Duration:</h3>
              <p><%= @calculator.duration %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="small-1 columns"></div>
  </div>

<% else %>
  <p>status: <%= @calculator.status %> </p>
<% end %>
