<%= render 'preloader' %>
<%= render 'home_bg' %>
<div class="row" id="home">
  <div class="small-offset-1 small-10 columns">

    <div class="row">
      <div id="home-info" class="medium-8 columns">

        <div id="little-logo" class="show-for-small-only">
          <%= render "layouts/df_ruller_logo_sm" %>
        </div>

        <h1>DistanceFinder</h1>

        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="3" baseProfile="full">
          <line x1="0" x2="200" y1="0" y2="0" stroke="#ff0" stroke-width="4"/>
        </svg>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>

      <div class="medium-4 columns">
        <div id="large-logo" class="show-for-medium">
          <%= render 'layouts/df_ruller_logo' %>
        </div>
      </div>

    </div>

    <div id="home-buttons" class="row">
      <div class="medium-6 columns">
        <a href="#" class="button expanded large">Get started!</a>
      </div>
      <div class="medium-6 columns">
        <a href="#" class="button expanded large">About project</a>
      </div>
    </div>

  </div>
  <div class="small-1 columns"></div>
</div>

<div class="row">
  <div class="small-offset-1 large-offset-3 large-6 small-10 columns">
    <div class="row">
      <div class="small-12" id="form-conatiner">
        <%= form_tag({controller: "public_pages", action: "calculate"}, method: "post") do %>

          <label>Origin
            <%= text_field_tag 'origin', nil, id: "origin", placeholder: "" %>
          </label>
          <label>Destination
            <%= text_field_tag :destination, nil, id: "destination", placeholder: "" %>
          </label>
          <%= submit_tag "Calculate", class: "button expanded" %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="small-1 medium-3 columns"></div>

</div>

<%= render 'layouts/df_ruller_logo' %>
