<!DOCTYPE html>
<html>
  <head>
    <title>Distance Finder</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0dd7e4" />
    <%= render "layouts/critical_css" %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <%= yield %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/javascript' %>
  </body>
</html>
